In [24]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import time

In [25]:
file_path = r"sample_data.csv"
data=pd.read_csv(file_path,header=None,index_col=None)
data.columns=['User_Id','Item_Id','Category_Id','Behavior_type','Timestamp']
data = data.iloc[1:] 
data.head(5)

/var/folders/77/9zjcjr250nd0x7jjwz_wssvw0000gn/T/ipykernel_73556/3446104715.py:2: DtypeWarning: Columns (0,1,2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(file_path,header=None,index_col=None)

   User_Id  Item_Id Category_Id Behavior_type   Timestamp
1  1001466  3933470     2640118            pv  1512285206
2  1000420  4412606     1451041            pv  1512223661
3     1000  2196555     2430608            pv  1512042012
4  1000573  4446378     4482016            pv  1511876337
5  1001757  1546004     2304296            pv  1511962475

In [31]:
# 检查空值 
data.isnull().sum()

User_Id          0
Item_Id          0
Category_Id      0
Behavior_type    0
Timestamp        0
dtype: int64

In [32]:
#查看数据信息
data.info

<bound method DataFrame.info of           User_Id  Item_Id Category_Id Behavior_type   Timestamp
1         1001466  3933470     2640118            pv  1512285206
2         1000420  4412606     1451041            pv  1512223661
3            1000  2196555     2430608            pv  1512042012
4         1000573  4446378     4482016            pv  1511876337
5         1001757  1546004     2304296            pv  1511962475
...           ...      ...         ...           ...         ...
10015077   999990  1742594     4756105            pv  1512202027
10015078   999997  3502273     4170419            pv  1512126965
10015079    99999   911595     1216617            pv  1511615634
10015080    99999  1730734     2939262            pv  1511662411
10015081   999989  1301197      570735            pv  1511762889

[10015081 rows x 5 columns]>

In [33]:
data.nunique()

User_Id           954431
Item_Id          1851200
Category_Id        12325
Behavior_type          4
Timestamp         878200
dtype: int64

In [34]:
#时间戳转日期，调整8小时时差，转换为北京时间
import datetime
data["Timestamp"] = pd.to_datetime(data["Timestamp"],unit='s')+datetime.timedelta(hours=8)

In [35]:
print(data["Timestamp"])

1          2017-12-03 15:13:26
2          2017-12-02 22:07:41
3          2017-11-30 19:40:12
4          2017-11-28 21:38:57
5          2017-11-29 21:34:35
                   ...
10015077   2017-12-02 16:07:07
10015078   2017-12-01 19:16:05
10015079   2017-11-25 21:13:54
10015080   2017-11-26 10:13:31
10015081   2017-11-27 14:08:09
Name: Timestamp, Length: 10015081, dtype: datetime64[ns]

In [40]:
#数据集包含了2017年11月25日至2017年12月3日之间 剔除不在这个区间的数据
data = data[(data["Timestamp"]>=pd.Timestamp("2017-11-25 00:00:00"))
        &(data["Timestamp"]<=pd.Timestamp("2017-12-03 23:59:59"))]
print(data["Timestamp"])

1          2017-12-03 15:13:26
2          2017-12-02 22:07:41
3          2017-11-30 19:40:12
4          2017-11-28 21:38:57
5          2017-11-29 21:34:35
                   ...
10015077   2017-12-02 16:07:07
10015078   2017-12-01 19:16:05
10015079   2017-11-25 21:13:54
10015080   2017-11-26 10:13:31
10015081   2017-11-27 14:08:09
Name: Timestamp, Length: 10009606, dtype: datetime64[ns]

In [41]:
#重置索引
data = data.reset_index(drop = True)

In [43]:
data.head()

   User_Id  Item_Id Category_Id Behavior_type           Timestamp
0  1001466  3933470     2640118            pv 2017-12-03 15:13:26
1  1000420  4412606     1451041            pv 2017-12-02 22:07:41
2     1000  2196555     2430608            pv 2017-11-30 19:40:12
3  1000573  4446378     4482016            pv 2017-11-28 21:38:57
4  1001757  1546004     2304296            pv 2017-11-29 21:34:35

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10009606 entries, 0 to 10009605
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   User_Id        object
 1   Item_Id        object
 2   Category_Id    object
 3   Behavior_type  object
 4   Timestamp      datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 381.8+ MB

In [46]:
data.nunique()

User_Id           954289
Item_Id          1850723
Category_Id        12324
Behavior_type          4
Timestamp         756449
dtype: int64

In [ ]:
# 用于数据分析的数据为:

# 用户数量：954289
# 商品数量： 1850723
# 商品类目数量：12324
# 所有行为数量：756449

In [49]:
#确认是否有重复数据
print(data.duplicated().value_counts())
data=data.drop_duplicates(subset=['User_Id','Item_Id','Category_Id','Behavior_type','Timestamp'],keep='first')
print(data.duplicated().value_counts())

False    10009606
dtype: int64
False    10009606
dtype: int64

In [50]:
# 预处理数据保存
data.to_csv(r'cleaned_data.csv', encoding = 'utf-8', index = False)