In [13]:
import prettytable
print([attr for attr in dir(prettytable) if attr.isupper()])  # 输出全大写样式常量

['DEFAULT', '_DEPRECATED_ALL', '_DEPRECATED_DEFAULT', '_DEPRECATED_DOUBLE_BORDER', '_DEPRECATED_FRAME', '_DEPRECATED_HEADER', '_DEPRECATED_MARKDOWN', '_DEPRECATED_MSWORD_FRIENDLY', '_DEPRECATED_NONE', '_DEPRECATED_ORGMODE', '_DEPRECATED_PLAIN_COLUMNS', '_DEPRECATED_RANDOM', '_DEPRECATED_SINGLE_BORDER']

In [36]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [83]:
%sql mysql+pymysql://root:useer@localhost:3306/economic_data

In [97]:
%%sql
select * from economic_data.new_table limit 5;

 * mysql+pymysql://root:***@localhost:3306/economic_data
5 rows affected.

[(1, 2278603, 3002561, 'pv', datetime.datetime(2017, 12, 3, 5, 52, 2)),
 (1, 4365585, 2520377, 'pv', datetime.datetime(2017, 11, 25, 15, 49, 6)),
 (2, 541487, 1373028, 'pv', datetime.datetime(2017, 12, 3, 10, 9, 26)),
 (2, 1737658, 4207901, 'pv', datetime.datetime(2017, 12, 3, 12, 44, 25)),
 (2, 4982883, 4130426, 'pv', datetime.datetime(2017, 11, 26, 20, 56, 34))]

In [95]:
#统计用户购买频次

In [40]:
%%sql
WITH user_purchase AS (
    select 
        user_id,
        count(distinct item_id) as purchase_time
    from economic_data.new_table
    where behavior_type = 'buy'
    group by user_id
    having count(distinct item_id) >=1
)

select 
    case 
        when purchase_time = 1 then '单次购买'
        when purchase_time between 2 and 4 then '低频复购'
        when purchase_time between 5 and 9 then '中频复购'
        else '高频复购（≥10次）' 
    end as repurchase_level,
    count(user_id) as user_count,
    round(count(user_id)*100/sum(count(user_id))over(),2) as user_percentage
from user_purchase
group by repurchase_level
order by min(purchase_time)

 * mysql+pymysql://root:***@localhost:3306/economic_data
4 rows affected.

[('单次购买', 137757, Decimal('83.33')),
 ('低频复购', 27120, Decimal('16.41')),
 ('中频复购', 418, Decimal('0.25')),
 ('高频复购（≥10次）', 12, Decimal('0.01'))]

In [41]:
# 数据说明：
#     总购买人数：165307
#     整体复购率：16.6%

In [42]:
# 关键分析维度
# 1. 时间维度：复购行为与促销关联

In [47]:
%%sql
WITH user_purchase AS (
    select 
        user_id,
        count(distinct item_id) as purchase_time
    from economic_data.new_table
    where behavior_type = 'buy'
    group by user_id
    having count(distinct item_id) >=1
)

select 
    hour(timestamp) as hour_of_day, 
    count(distinct user_id) as repurchase_users
from economic_data.new_table
where behavior_type = 'buy'
and user_id in 
    (select user_id from user_purchase where purchase_time>=2)
group by hour(timestamp)
order by repurchase_users desc

 * mysql+pymysql://root:***@localhost:3306/economic_data
24 rows affected.

[(21, 3848),
 (22, 3585),
 (10, 3434),
 (20, 3398),
 (14, 3353),
 (15, 3264),
 (13, 3204),
 (11, 3179),
 (12, 3094),
 (16, 3093),
 (19, 3076),
 (17, 2821),
 (23, 2650),
 (9, 2592),
 (18, 2565),
 (8, 1771),
 (0, 1685),
 (7, 1044),
 (1, 696),
 (6, 530),
 (2, 357),
 (5, 277),
 (3, 250),
 (4, 206)]

In [ ]:
# 2. 商品维度：复购商品类目TOP10

In [48]:
%%sql
select 
    category_id,
    count(*) as repurchase_count
from
(
    select 
        user_id,
        category_id,
        count(distinct item_id) as buy_count       
    from economic_data.new_table
    group by user_id, category_id
    having count(distinct item_id)>=2       
) as cat_repurchase
group by category_id
order by repurchase_count desc
limit 10

 * mysql+pymysql://root:***@localhost:3306/economic_data
10 rows affected.

[(4756105, 96495),
 (4145813, 71952),
 (2355072, 66706),
 (982926, 64306),
 (3607361, 61404),
 (2520377, 44057),
 (4801426, 42078),
 (1320293, 38451),
 (2465336, 32416),
 (3002561, 31449)]

In [ ]:
# # 3. 路径转化：复购用户行为漏斗
# 场景定义:
# 复购用户：近30天内购买≥2次的用户
# 行为漏斗阶段：浏览（pv） → 加购（cart） → 收藏（fav） → 购买（buy）
# 分析目标：统计复购用户在各行为阶段的转化率，识别关键流失环节

In [157]:
%%sql
with user_funnel_stages as (
    select 
        distinct user_id,
        max(case when behavior_type = 'pv' then 1 else 0 end) as has_pv,
        max(case when behavior_type = 'cart' then 1 else 0 end) as has_cart,
        max(case when behavior_type = 'fav' then 1 else 0 end) as has_fav,
        max(case when behavior_type = 'buy' then 1 else 0 end) as has_buy
        #直接使用case when 会生成多行结果，无法清晰标记用户是否‘至少有一次该行为’
        #max会取该用户在所有记录中该标记行为的最大值
    from economic_data.new_table
    where user_id in  
       (select
            distinct user_id
        from economic_data.new_table
        where behavior_type = 'buy'
        group by user_id
        having count(distinct item_id)>=2) 
#     and timestamp between '2017-11-25' and '2017-11-30'
    group by user_id
#     limit 10
),
funnel_counts AS (
    SELECT
        COUNT(*) AS total_users,
        COUNT(CASE WHEN has_pv   = 1 THEN 1 END) AS pv_users,
        COUNT(CASE WHEN has_cart = 1 THEN 1 END) AS cart_users,
        COUNT(CASE WHEN has_fav  = 1 THEN 1 END) AS fav_users,
        COUNT(CASE WHEN has_buy  = 1 THEN 1 END) AS buy_users
    FROM user_funnel_stages
)

select 
    '浏览' as stage,
    pv_users as user_count,
    null as conversion_rate
from funnel_counts


union all

select 
    '加购' as stage,
    cart_users as user_count,
    round(cart_users * 100 /pv_users, 2) as conversion_rate
from funnel_counts


union all

select 
    '收藏' as stage,
    fav_users as user_count,
    round(fav_users * 100/cart_users,2) as conversion_rate
from funnel_counts


union all

select 
    '购买' as stage,
    buy_users as user_count,
    round(buy_users *100/fav_users,2) as conversion_rate
from funnel_counts

 * mysql+pymysql://root:***@localhost:3306/economic_data
4 rows affected.

[('浏览', 26845, None),
 ('加购', 13149, Decimal('48.98')),
 ('收藏', 5762, Decimal('43.82')),
 ('购买', 27550, Decimal('478.13'))]

In [ ]:
#购买转化率超过100%漏斗路径断裂
# 复购用户可能直接购买，无需重新加购或收藏，导致收藏→购买转化率失真

In [79]:
%%sql
with user_funnel_stages as (
    select 
        distinct user_id,
        max(case when behavior_type = 'pv' then 1 else 0 end) as has_pv,
        max(case when behavior_type = 'cart' then 1 else 0 end) as has_cart,
        max(case when behavior_type = 'fav' then 1 else 0 end) as has_fav,
        max(case when behavior_type = 'buy' then 1 else 0 end) as has_buy
        #直接使用case when 会生成多行结果，无法清晰标记用户是否‘至少有一次该行为’
        #max会取该用户在所有记录中该标记行为的最大值
    from economic_data.new_table
    where user_id in  
       (select
            user_id
        from economic_data.new_table
        where behavior_type = 'buy'
        group by user_id
        having count(distinct item_id)>=2)
    and timestamp between '2017-11-25' and '2017-11-30'
    group by user_id
#     limit 10
)
select 
    sum(has_pv) as pv_users,
    sum(has_cart) as cart_users,
    sum(has_fav) as fav_users,
    sum(has_buy) as buy_users,
    round(sum(has_buy)*100/sum(has_pv),2) as pv_buy_rate
from user_funnel_stages

 * mysql+pymysql://root:***@localhost:3306/economic_data
1 rows affected.

[(Decimal('25015'), Decimal('8875'), Decimal('3892'), Decimal('20748'), Decimal('82.94'))]

In [ ]:
#

In [140]:
%%sql
with user_funnel_stages as (
    select 
        user_id,
#         item_id,
        sum(case when behavior_type = 'pv' then 1 else 0 end) as has_pv,
        sum(case when behavior_type = 'cart' then 1 else 0 end) as has_cart,
        sum(case when behavior_type = 'fav' then 1 else 0 end) as has_fav,
        sum(case when behavior_type = 'buy' then 1 else 0 end) as has_buy
    from economic_data.new_table
    group by user_id
#     limit 20
    
)


select 
    '仅浏览' as action,
    count(distinct user_id) as cnt
from user_funnel_stages
where has_pv > 0 and has_cart =0 and has_fav=0 and has_buy = 0

union all

select 
    '仅加购' as action,
    count(distinct user_id) as cnt
from user_funnel_stages
where has_pv = 0 and has_cart >0 and has_fav=0 and has_buy = 0

union all

select 
    '仅收藏' as action,
    count(distinct user_id) as cnt
from user_funnel_stages
where has_pv =0 and has_cart =0 and has_fav>0 and has_buy = 0

union all

select 
    '仅购买' as action,
    count(distinct user_id) as cnt
from user_funnel_stages
where has_pv = 0 and has_cart =0 and has_fav=0 and has_buy > 0

 * mysql+pymysql://root:***@localhost:3306/economic_data
4 rows affected.

[('仅浏览', 442061), ('仅加购', 5857), ('仅收藏', 2339), ('仅购买', 3855)]

In [154]:
%%sql
with user_funnel_stages as (
    select
        user_id,
        max(case when behavior_type = 'pv' then 1 else 0 end) as has_pv,
        max(case when behavior_type = 'cart' then 1 else 0 end) as has_cart,
        max(case when behavior_type = 'fav' then 1 else 0 end) as has_fav,
        max(case when behavior_type = 'buy' then 1 else 0 end) as has_buy
    from economic_data.new_table
    group by user_id
#     limit 10
    
)

select 
    "浏览-购买",
    sum(has_pv) as "点击数",
    sum(has_buy) as "购买数",
    sum(has_pv)/sum(has_buy) as "转化率"
from user_funnel_stages
where has_cart=0 and has_fav=0

union all

select 
    "浏览-加购-购买",
    sum(has_pv) as "点击数",
    sum(has_buy) as "购买数",
    sum(has_pv)/sum(has_buy) as "转化率"
from user_funnel_stages
where has_cart=1 and has_fav=0

union all

select 
    "浏览-收藏-购买",
    sum(has_pv) as "点击数",
    sum(has_buy) as "购买数",
    sum(has_pv)/sum(has_buy) as "转化率"
from user_funnel_stages
where has_cart=0 and has_fav=1


union all

select 
    "浏览-加购&收藏-购买",
    sum(has_pv) as "点击数",
    sum(has_buy) as "购买数",
    sum(has_pv)/sum(has_buy) as "转化率"
from user_funnel_stages
where has_cart=1 and has_fav=1

 * mysql+pymysql://root:***@localhost:3306/economic_data
4 rows affected.

[('浏览-购买', Decimal('517057'), Decimal('78851'), Decimal('6.5574')),
 ('浏览-加购-购买', Decimal('271876'), Decimal('56546'), Decimal('4.8081')),
 ('浏览-收藏-购买', Decimal('105976'), Decimal('18741'), Decimal('5.6548')),
 ('浏览-加购&收藏-购买', Decimal('44768'), Decimal('11169'), Decimal('4.0082'))]